@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-left: 20%; margin-right: 10%;">
    <h1 class="display-4">Welcome to VideoGameDatabase!</h1>
    <hr />
    <p class="lead">
        This site uses database that stores a list of EVERY VIDEO GAME (not really)!
    </p>
     
    <p class="lead" style="margin-left: 40%; margin-right: 0%;" >
        <a asp-controller="VideoGames" asp-action="Index" class="btn btn-lg btn-secondary">Enter</a>
    </p>
</div>